@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this cuisine: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CuisineId)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>