@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h4>Add a new review</h4>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)


    @Html.LabelFor(model => model.Restaurant)
    @Html.DropDownList("RestaurantId")

    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date, new { @type = "date" })

    <input type="submit" value="Add new review" class="btn btn-info" />
}
<p>@Html.ActionLink("Show all reviews", "Index")</p>