@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h2>Edit</h2>


<h4>Edit this review Description: @Html.DisplayFor(model => model.Description)</h4>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ReviewId)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    
    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>